/* Reset some default styles */
@import url('https://fonts.googleapis.com/css2?family=REM:wght@700&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'REM', sans-serif;

}

/* HTML */
html {
  overflow-y: scroll;
}

/* Body */
body {
  background: url('assets/img/bg.jpg');
  font-family: 'Titillium Web', sans-serif;
}

/* Links */
a {
  text-decoration: none;
  color: #2ecc71;
  transition: 0.5s ease;
}

a:hover {
  color: #0f7c63;
}

/* Form */
.form {
  background: #046834;
  padding: 19px;
  max-width: 330px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

/* Tab Group */
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.tab-group li a:hover {
  background: #2ecc71;
  color: #ffffff;
}

.tab-group .active a {
  background: #2ecc71;
  color: #ffffff;
}

/* Tab Content */
.tab-content > div:last-child {
  display: none;
}

/* H1 */
h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 20px;
}

/* Label */
label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255);
  transition: all 0.25s ease;
  /* -webkit-backface-visibility: hidden; */
  pointer-events: none;
  font-size: 17px;
}

label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  transform: translateY(42px);
  left: 2px;
  font-size: 12px;
}

label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

/* Input and Textarea */
input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

input:focus,
textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

/* Textarea */
textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

/* Field Wrap */
.field-wrap {
  position: relative;
  margin-bottom: 25px;
}

/* Top Row */
.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row > div:last-child {
  margin: 0;
}

/* Button */
.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #2ecc71;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}

.button:hover,
.button:focus {
  background: #0f7c63;
  cursor: pointer;
}

/* Button Block */
.button-block {
  display: block;
  width: 100%;
}

/* Forgot Password */
.forgot {
  margin-top: -20px;
  text-align: right;
}
#captcha{
    display:flex;
    justify-content: center;
}
