*{
    margin: 0;
    padding: 0;
}
#heading{
    margin: 10px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
  }