@import url('https://fonts.googleapis.com/css2?family=REM:wght@700&display=swap');
*{
    font-family: 'REM',sans-serif;
}

.dashboard {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #2ecc71;
    color: white;
    padding: 20px;
}

.profile h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.menu {
    list-style: none;
    margin-top: 20px;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ecf0f1;
}

.content {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
}

.charts {
    display: flex;
    justify-content: space-between;
}

.chart {
    width: 48%;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


